<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLiteDefaultConnection" connectionString="Data Source=C:\Data\clean_winf_db.db;" providerName="System.Data.SQLite" />
		<add name="SQLiteBackupConnection" connectionString="Data Source=C:\Data\BackupDB\clean_winf_db_bk.db;" providerName="System.Data.SQLite" />
	</connectionStrings>
	<appSettings>
		<add key="EncryptionKey" value="@@052018ZAQWSXEr"/>
		<add key="EncryptionIV" value="@@#!$%18ZAQWSXEr"/>
		<add key="IsAllowedSessionTimeout" value="1"/>
		<add key="ApplicationTimeoutValue" value="15"/>
		<add key="InitialBobbinRowGridView" value="200"/>
	</appSettings>
</configuration>